body {
    margin: 0;
    padding: 0;
    background-color: bisque;
}

h1 {
    background-color: goldenrod;
    color: blueviolet;
}

h3 {
    background-color: palegoldenrod;
    color: orangered;
}

ul {
    color: purple;
}

p {
    color: green;
    font-weight: 700;
}